/* for portfolio */

#SocialLinks { padding: 10px 0 0 0; }
#SocialLinks:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
#SocialLinks a { display: block; float: left; padding-right: 15px; }

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }


/* For inline examples only */
#PhotoSwipeTarget { width: 100%; height: 200px; }

#Indicators { text-align: center; margin-top: 20px; }
#Indicators span { display: inline-block; height: 10px; width: 10px; margin: 0 10px 0 0; padding: 0; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; background: #c5c5c5; overflow:hidden; }
#Indicators span.current{ background: #EEBF02; }

/* end portfolio page */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding-top: 25px;
	background: #ECF0F1;
	color: #FFF;
	font: 1.3em/1.6 sans-serif;
}
.wrap {
	margin: auto;
	width: 90%;
}
.main-header {
	background: #34495E;
	text-align: center;
}
.logo, 
.main-nav a {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
}
.main-nav a {
	padding: 0 .75em;
	border-right: 1px dotted;
	color: rgba(255,255,255, .8);
	font-size: .7em;
	line-height: 1rem;
}
.main-nav a:hover {
	text-decoration: underline;
}
.main-nav a:last-child {
	border-right: none;
}
.content, 
.main-header {
	overflow: hidden;
}
.col {
	height: 240px;
}
.main {
	background: #3498DB;
}
.secondary {
	background: #3498DB;
}
.extra {
	display: none;
	background: #3498DB;
}
.main-footer {
	background: #34495E;
}
.main-header, 
.main-footer, 
.col {
	margin-bottom: 15px;
	padding: 2.15%;
	border-radius: 5px;
}

/*==================================
   Media Queries
==================================*/


/* Phones to Tablets */

@media only screen and (min-width: 481px) {
	.col {
		float: left;
	}
	.main {
		width: 65.957446808511%;
	}
	.secondary {
		width: 31.914893617021%; 
	}
	.secondary,
	.extra {
		margin-left: 2.127659574468%;
	}
}

/* Tablets to Desktop */

@media only screen and (min-width: 769px) {	
	.logo {
		float: left;
	}
	.main-nav {
		float: right;
	}
	.main {
		width: 40.425531914894%;
	}
	.extra {
		display: block;
		width: 23.404255319149%;
	}
}

@media only screen and (min-width: 1024px) {	
	.wrap {
		width: 980px;
	}
}

.newspaper
{
columns:100px 3;
-webkit-columns:100px 3; /* Safari and Chrome */
-moz-columns:100px 3; /* Firefox */
}

.header
{
	}
body{
    background: black;
    background-size: 100%;
}

.msg_slideshow{
    width:470px;
    height:470px;
    padding:10px;
    position:relative;
    overflow:hidden;
    background:#101010 url(../icons/loading.gif) no-repeat center center;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.msg_slideshow a{
    outline:none;
}
.msg_slideshow a img{
    border:none;
}

.msg_wrapper{
    width:470px;
    height:470px;
    position:relative;
    margin:0;
    padding:0;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}
.msg_wrapper img{
    display: inline-block!important;
    height: auto;
    vertical-align:middle;
    -moz-box-shadow:0px 0px 10px #000;
    -webkit-box-shadow:0px 0px 10px #000;
    box-shadow:0px 0px 10px #000;
}

.msg_controls{
    position:absolute;
    bottom:15px;
    right:-110px;
    width:104px;
    height:26px;
    z-index: 20;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#000;
    opacity:0.8;
}

.msg_controls a{
    float:left;
    background-color:#000;
    width:20px;
    height:20px;
    margin:3px 3px;
    opacity:0.5;
    background-repeat:no-repeat;
    background-position: center center;
}
.msg_controls a:hover{
    opacity:1.0;
}

.msg_controls a.msg_grid{
    background-image:url(../icons/grid.png);
}
.msg_controls a.msg_prev{
    background-image:url(../icons/prev.png);
}
.msg_controls a.msg_next{
    background-image:url(../icons/next.png);
}
.msg_controls a.msg_pause{
    background-image:url(../icons/pause.png);
}
.msg_controls a.msg_play{
    background-image:url(../icons/play.png);
}

.msg_thumbs{
    background:#000;
    position:absolute;
    width:250px;
    height:166px;
    top:-230px;
    left:50%;
    padding:30px;
    margin:0 0 0 -155px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-box-shadow:1px 1px 5px #000;
    -webkit-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
    opacity:0.9;
    overflow:hidden;
}

.msg_thumb_wrapper{
    position:absolute;
    width:250px;
    height:166px;
    top:30px;
    left:30px;
    z-index:30;
}

.msg_thumb_wrapper a{
    display:block;
    width:75px;
    height:75px;
    float:left;
    margin:4px;
    opacity:0.8;
}

.msg_thumbs a.msg_thumb_next,
.msg_thumbs a.msg_thumb_prev{
    width:18px;
    height:20px;
    background-repeat:no-repeat;
    background-position: center center;
    position:absolute;
    top:50%;
    margin-top:-10px;
    opacity:0.5;
}
.msg_thumbs a.msg_thumb_next:hover,
.msg_thumbs a.msg_thumb_prev:hover{
    opacity:1.0;
}
.msg_thumbs a.msg_thumb_next{
    background-image:url(../icons/next_thumb.png);
    right:5px;
}
.msg_thumbs a.msg_thumb_prev{
    background-image:url(../icons/prev_thumb.png);
    left:5px;
}

.msg_thumbs a.msg_thumb_close{
    position:absolute;
    bottom:0px;
    width:50px;
    left:50%;
    margin:0 0 0 -25px;
    background:#202020 url(../icons/up.png) no-repeat center center;
    height:16px;
    opacity:0.7;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.msg_thumbs a.msg_thumb_close:hover{
    opacity:1.0;
}

.msg_loading{
    position:absolute;
    background:transparent url(../icons/loading.gif) no-repeat center center;
    top:50%;
    left:50%;
    width:50px;
    height:50px;
    margin:-25px 0 0 -25px;
    z-index:25;
    display:none;
}

h3:hover{
    color: indigo;
}
